body {
	background-color: #f0f0f0;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

#block-1 {
	border: 2px dashed #00ff00;
}

#text-2 {
	font-weight: bold;
}

#text-1 {
	font-style: italic;
}

#text-3 {
	text-decoration: underline;
}